# Created by .gitignore support plugin (hsz.mobi)
mobileapp.iml
www
src/vendor
plugins
platforms
node_modules
reports
jasmine.teamcity.log
tests/*.js
tests/*.js.map
src/js/**/*.js
src/js/**/*.js.map
src/css/**/*.css